body{
    background-color: powderblue;
}
h1{
    color: blue;
}
p{
    color: red;
    font-family: Chandas;
    font-size: 129%;
    border: 1px solid black;
    padding:20px;
    margin: 45px;
}

#p01 {
    color: blue;
}

p.error {
    color: #ffb8f5;
    background-color: rebeccapurple;
}

table, th, td {
    border: 5px seagreen ridge; gap: 3px;



}

