body {
    background-color: aquamarine;
    margin: 23px;
    align-content: center;
    animation: alternate-reverse;
}
h1 {
    color: blue;
}

p {
    font-family: Ani;
    padding: 30px;
    margin: 50px;
    border: 1px;
    font-size: 129px;
}

#p01 {
    color: blueviolet;
}

p.error {
    backface-visibility: hidden;
    color: goldenrod;
}

